# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

test-dev-mode.js
test-payment-failed.js
test-payment-recovery-dev.js
test-payment-recovery.js
test-webhook-real.js
test-webhook-simple.js
test-with-real-company.js

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env*.local


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# development docs
MVP-COMPLETE.md
test-webhook.js
DEPLOYMENT-GUIDE.md
PERMISSIONS-SETUP.md
PRODUCTION-CHECKLIST.md
SETUP-GUIDE.node_modules
TEST-RESULTS.md
TESTING-GUIDE.md
